<div>
  <p>{{name}}</p>
  <div class="menu-container" (contextmenu)="showMenu($event, 0)">0ms</div>
  <div class="menu-container" (contextmenu)="showMenu($event, 500)">500ms</div>
  <div class="menu-container" (contextmenu)="showMenu($event, 1000)">
    1000ms
  </div>
  <div class="menu-container" (contextmenu)="showMenu($event, 2000)">
    2000ms
  </div>

  <div #contextMenu class="contextmenu" [hidden]="!show">
    <div class="menucontent">
      <ul *ngIf="loaded; else loading">
        <li *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]">item{{i}}</li>
      </ul>
      <ng-template #loading>
        <img src="/assets/loading.gif" width="40" height="40"/>
      </ng-template>  
    </div>
  </div>
</div>
